@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}
/* home.module.css */

.opaqueBackground {
  /* White background with 80% opacity */
  background-color: rgba(255, 255, 255, 0.8);

  /* Optional: adds a slight blur behind the element for a frosted glass effect */
  backdrop-filter: blur(4px);

  /* Optional: some padding, margin, or border radius */
  padding: 1rem;
  border-radius: 8px;
}
